body {
margin: 0;
background-color: #ceb374;
color: black;
text-decoration:none;
font-family: 'Helvetica', serif ;
font-size: 17px;
}

.logo {
text-align: center;
margin-top: 20px;
margin-bottom: 20px;
}
#nawigacja {
background-color: rgb(173, 71, 71);
text-align: center;
}
.menu {
list-style-type: none;
margin: 0;
padding: 10px;
font-size: 18px;
min-height: 40px;
line-height: 150%;
}
.menu > li {
display: inline-block;
padding-left: 20px;
padding-right: 20px;
border-right: 1px solid black;
}
.menu > li:first-child {
border-left: 1px solid black;
}
.menu a {
	color: black;
	text-decoration: none;
}
.menu a:hover {
color: #168a39;
text-decoration: none;
}

#main p{
text-align: center;
margin-bottom: 20px;
}
#main h1{
text-align: center;
margin-bottom: 20px;
}
.footer {
left: 0;
bottom: 0;
width: 100%;
background-color: rgb(173, 71, 71);
color: white;
text-align: center;
}
button a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  background-color: #ddd;
  color: black;
}

.podnawigacja {
background-color: rgb(173, 71, 71);
text-align: center;
}
.podmenu {
list-style-type: none;
margin: 0;
padding: 10px;
font-size: 18px;
min-height: 40px;
line-height: 150%;
}
.podmenu > li {
display: inline-block;
padding-left: 20px;
padding-right: 20px;
border-right: 1px solid black;
}
.podmenu > li:first-child {
border-left: 1px solid black;
}
.podmenu a {
	color: black;
	text-decoration: none;
}
.podmenu a:hover {
color: #168a39;
text-decoration: none;
}
@media screen and (max-width:800px) 
{ 
.logo {display:block; } 
#nawigacja { margin:15px; width:auto; font-size: 30px; } 
#main { margin:15px; width:auto; font-size: 30px; } 
#podnawigacja { margin:15px; width:auto; font-size: 30px; }
#kontakt { margin:15px; width:auto; font-size: 30px; }
.footer { margin:15px; width:auto; font-size: 30px; }    
} 

#kontakt {
padding-left: 35%;
padding-right: 35%;
}
#main {
padding-left: 5px;
padding-right: 5px;
}